{
    "presets": [
        "env"
    ],
    "plugins": [
        "transform-react-jsx",
        "transform-object-rest-spread",
        "transform-runtime",
        ["transform-class-properties", { "spec": true }]
    ]
}
